VITE_SUPABASE_URL=https://vzgammlsunjmuwnhsezm.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_9bvvNaFGm0guhGD296zzcg_JgfYW8sU
VITE_ENABLE_DEMO_SHORTCUT=false
VITE_DEMO_STUDENT_EMAIL=demo.aluno.pedro@sinapse.app
VITE_DEMO_TEACHER_EMAIL=demo.professor.pedro@sinapse.app
